### Library

In [22]:
import ucimlrepo
import pandas as pd
import random

### Data Acquisition

In [23]:
full_dataset = ucimlrepo.fetch_ucirepo(id=601)

features = pd.DataFrame(full_dataset.data.features) # type: ignore
targets = pd.DataFrame(full_dataset.data.targets) # type: ignore

dataset = pd.concat([features, targets], axis=1)

dataset

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,TWF,HDF,PWF,OSF,RNF
0,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0
9996,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0
9997,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0
9998,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0
9999,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Type                 10000 non-null  object
 1   Air temperature      10000 non-null  float64
 2   Process temperature  10000 non-null  float64
 3   Rotational speed     10000 non-null  int64
 4   Torque               10000 non-null  float64
 5   Tool wear            10000 non-null  int64
 6   Machine failure      10000 non-null  int64
 7   TWF                  10000 non-null  int64
 8   HDF                  10000 non-null  int64
 9   PWF                  10000 non-null  int64
 10  OSF                  10000 non-null  int64
 11  RNF                  10000 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 937.6+ KB

In [25]:
dataset.describe(include='all')

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,TWF,HDF,PWF,OSF,RNF
count,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900,0.004600,0.011500,0.009500,0.009800,0.00190
std,NaN,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981,0.067671,0.106625,0.097009,0.098514,0.04355
min,NaN,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,NaN,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,NaN,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,NaN,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,NaN,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

### Dataset Cleaning

#### Dataset Update 1: Failure Type and Drop One-hot Encoding Features

In [26]:
import numpy as np

conditions = [
    dataset['TWF'] == 1,
    dataset['HDF'] == 1,
    dataset['PWF'] == 1,
    dataset['OSF'] == 1,
    dataset['RNF'] == 1,
]

choices = ['TWF', 'HDF', 'PWF', 'OSF', 'RNF']

dataset['Failure Type'] = np.select(conditions, choices, default='No Failure')

dataset

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,TWF,HDF,PWF,OSF,RNF,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,0,0,0,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,0,0,0,0,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,0,0,0,0,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,0,0,0,0,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,0,0,0,0,0,No Failure
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,0,0,0,0,0,No Failure
9996,H,298.9,308.4,1632,31.8,17,0,0,0,0,0,0,No Failure
9997,M,299.0,308.6,1645,33.4,22,0,0,0,0,0,0,No Failure
9998,H,299.0,308.7,1408,48.5,25,0,0,0,0,0,0,No Failure
9999,M,299.0,308.7,1500,40.2,30,0,0,0,0,0,0,No Failure

In [27]:
dataset = dataset.drop(columns=['TWF', 'HDF', 'PWF', 'OSF', 'RNF'])

dataset

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...
9995,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,M,299.0,308.7,1500,40.2,30,0,No Failure

#### Dataset Update 2: Drop Random Failures

In [28]:
dataset = dataset[dataset['Failure Type'] != 'RNF'].reset_index(drop=True)

dataset['Failure Type'].value_counts()

Failure Type
No Failure    9652
HDF            115
PWF             91
OSF             78
TWF             46
Name: count, dtype: int64

#### Type-based Dataset Split

In [29]:
l_dataset = dataset[dataset['Type'] == "L"].copy()
m_dataset = dataset[dataset['Type'] == "M"].copy()
h_dataset = dataset[dataset['Type'] == "H"].copy()

print(f"Size: {len(l_dataset)}, {len(m_dataset)}, {len(h_dataset)}")

Size: 5988, 2995, 999

#### Dataset: Data Addition

In [30]:
def resampling_function(dataset: pd.DataFrame, number_of_sampling: int, weights=None, random_state=42):
    addition_list = dataset[dataset['Failure Type'] == "No Failure"].sample(number_of_sampling, weights=weights, random_state=random_state)
    
    dataset = pd.concat([dataset, addition_list], ignore_index=True)

    print(len(dataset))

    return dataset

#### Resampling: All Dataset

In [31]:
l_dataset = resampling_function(l_dataset, 12)
m_dataset = resampling_function(m_dataset, 5)
h_dataset = resampling_function(h_dataset, 1)

6000
3000
1000

#### Dataset Update 3: Add Machine ID

In [32]:
def add_machine_id(machine_dataset: pd.DataFrame, total_machine: int, machine_type: str) -> pd.DataFrame:
    """
    Assigns Product IDs by distributing rows evenly across a fixed number of machines.
    
    Args:
        machine_dataset: DataFrame for one product type (e.g., only 'L' rows)
        total_machine: Number of unique machines to create for this type
        machine_type: 'L', 'M', or 'H'
    
    Returns:
        DataFrame with new 'Product ID' column and sorted for chronological order per machine
    """
    # Reset index to ensure clean row numbering
    machine_dataset = machine_dataset.reset_index(drop=True)
    
    # Number of rows per machine (integer division -> most machines get this many)
    rows_per_machine = len(machine_dataset) // total_machine
    
    # Some machines will get one extra row if not perfectly divisible
    # We assign machine numbers sequentially, cycling properly
    machine_dataset['Product ID'] = [
        f"{machine_type.upper()}_{str((i // rows_per_machine) + 1).zfill(3)}"
        if rows_per_machine > 0
        else f"{machine_type.upper()}_001"  # fallback if too few rows
        for i in range(len(machine_dataset))
    ]
    
    # Ensure we don't exceed total_machine (in case of remainder)
    # Map any overflow to the last machines
    machine_numbers = (pd.Series(range(len(machine_dataset))) // rows_per_machine) + 1
    machine_numbers = machine_numbers.clip(upper=total_machine)  # cap at total_machine
    machine_dataset['Product ID'] = [
        f"{machine_type.upper()}_{str(num).zfill(3)}" for num in machine_numbers
    ]
    
    # Sort by Product ID first, then by Tool wear (assumes higher tool wear = later in time)
    machine_dataset = machine_dataset.sort_values(
        by=["Product ID", "Tool wear"], 
        ignore_index=True
    )
    
    return machine_dataset

In [33]:
l_machine = add_machine_id(l_dataset, total_machine=12, machine_type="L")
m_machine = add_machine_id(m_dataset, total_machine=6, machine_type="M")
h_machine = add_machine_id(h_dataset, total_machine=2, machine_type="H")

In [34]:
l_machine['Product ID'].unique()

array(['L_001', 'L_002', 'L_003', 'L_004', 'L_005', 'L_006', 'L_007',
       'L_008', 'L_009', 'L_010', 'L_011', 'L_012'], dtype=object)

In [35]:
m_machine['Product ID'].unique()

array(['M_001', 'M_002', 'M_003', 'M_004', 'M_005', 'M_006'], dtype=object)

In [36]:
h_machine['Product ID'].unique()

array(['H_001', 'H_002'], dtype=object)

#### Dataset: Combine

In [37]:
update_dataset = pd.concat([l_machine, m_machine, h_machine], ignore_index=True)

update_dataset = update_dataset.sort_values(by=["Product ID"]).reset_index(drop=True)

update_dataset.to_csv("[Update] Updated Dataset.csv", index=False)

In [39]:
l_machine.describe(include='all')

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,Failure Type,Product ID
count,6000,6000.000000,6000.000000,6000.000000,6000.000000,6000.00000,6000.000000,6000,6000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,5,12
top,L,NaN,NaN,NaN,NaN,NaN,NaN,No Failure,L_001
freq,6000,NaN,NaN,NaN,NaN,NaN,NaN,5769,500
mean,NaN,300.013317,310.008883,1539.641667,39.986350,108.31100,0.039167,NaN,NaN
std,NaN,1.987340,1.474600,180.462817,10.005518,64.03724,0.194008,NaN,NaN
min,NaN,295.300000,305.700000,1181.000000,3.800000,0.00000,0.000000,NaN,NaN
25%,NaN,298.400000,308.800000,1424.000000,33.200000,53.00000,0.000000,NaN,NaN
50%,NaN,300.100000,310.100000,1504.000000,40.000000,109.00000,0.000000,NaN,NaN
75%,NaN,301.500000,311.000000,1612.000000,46.800000,163.00000,0.000000,NaN,NaN
max,NaN,304.500000,313.800000,2886.000000,76.600000,251.00000,1.000000,NaN,NaN

In [40]:
m_machine.describe(include='all')

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,Failure Type,Product ID
count,3000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000,3000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,5,6
top,M,NaN,NaN,NaN,NaN,NaN,NaN,No Failure,M_001
freq,3000,NaN,NaN,NaN,NaN,NaN,NaN,2921,500
mean,NaN,300.031567,310.021367,1537.640667,40.011500,107.318667,0.027667,NaN,NaN
std,NaN,2.016278,1.497908,178.949751,9.986487,63.064328,0.164043,NaN,NaN
min,NaN,295.300000,305.700000,1168.000000,9.700000,0.000000,0.000000,NaN,NaN
25%,NaN,298.300000,308.900000,1422.000000,33.275000,53.000000,0.000000,NaN,NaN
50%,NaN,300.100000,310.050000,1504.000000,40.200000,106.000000,0.000000,NaN,NaN
75%,NaN,301.600000,311.100000,1611.250000,46.800000,162.000000,0.000000,NaN,NaN
max,NaN,304.400000,313.800000,2710.000000,76.200000,253.000000,1.000000,NaN,NaN

In [41]:
h_machine.describe(include='all')

,Type,Air temperature,Process temperature,Rotational speed,Torque,Tool wear,Machine failure,Failure Type,Product ID
count,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000
unique,1,NaN,NaN,NaN,NaN,NaN,NaN,5,2
top,H,NaN,NaN,NaN,NaN,NaN,NaN,No Failure,H_001
freq,1000,NaN,NaN,NaN,NaN,NaN,NaN,980,500
mean,NaN,299.861700,309.920800,1538.344000,39.823700,107.539000,0.021000,NaN,NaN
std,NaN,2.021769,1.487656,173.248205,9.639571,63.015502,0.143456,NaN,NaN
min,NaN,295.500000,305.900000,1212.000000,12.800000,0.000000,0.000000,NaN,NaN
25%,NaN,298.200000,308.800000,1425.000000,33.000000,53.000000,0.000000,NaN,NaN
50%,NaN,299.800000,309.900000,1500.000000,40.300000,107.000000,0.000000,NaN,NaN
75%,NaN,301.300000,311.000000,1612.250000,46.600000,160.000000,0.000000,NaN,NaN
max,NaN,304.200000,313.500000,2636.000000,72.800000,246.000000,1.000000,NaN,NaN